/*@import "v1.scss";*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  line-height: 30px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
  margin-bottom: 20px; }

h1 {
  font-size: 30px;
  line-height: 1.5; }

h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0px; }

h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.6px; }

h4 {
  font-size: 16px;
  line-height: 1.5; }

h5 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold; }

h6 {
  font-size: 16px;
  line-height: 1.5; }

p {
  margin: 0 0 30px 0;
  font-weight: 400;
  line-height: 30px; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 30px 0 30px;
  height: 0; }

code, pre {
  font-size: 14px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  color: #4197C8;
  background-color: #EEF3F6; }

pre {
  padding: 20px;
  margin-bottom: 30px; }

/* #Links
================================================== */
a {
  color: #772BFF;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #772BFF; }

/* Breakpoints
  ========================================================================== */
.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box; }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    .container {
      width: 280px; } }
  @media only screen and (min-width: 341px) and (max-width: 500px) {
    .container {
      width: 340px; } }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .container {
      width: 500px; } }
  @media only screen and (min-width: 961px) and (max-width: 1020px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 1021px) and (max-width: 1020px) {
    .container {
      width: 1020px; } }
  @media only screen and (min-width: 1021px) {
    .container {
      width: 1020px; } }

/*NAV
------------------------------------------*/
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden; }
  nav .nav_menu {
    display: block; }
  nav .nav_contact {
    display: block;
    position: absolute;
    letter-spacing: 1px;
    width: 25px;
    height: 25px;
    right: 0px;
    font-size: 13px;
    font-weight: 400;
    margin: 20px;
    color: #ddd;
    text-indent: -999999px;
    background-image: url("/assets/icon_mail.png");
    background-repeat: no-repeat;
    background-size: 100%; }
  nav .nav_logo {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("/assets/logo_min.png");
    background-size: 100%;
    content: " ";
    margin-top: 50px;
    margin-left: 8px;
    clear: both; }
    nav .nav_logo.is-shown {
      margin-top: 10px; }

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

nav a:hover {
  color: black; }

.opaque {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/*HEADER
------------------------------------------*/
header.hero {
  display: flex;
  align-items: center;
  position: relative;
  height: 400px; }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    header.hero {
      height: 280px; } }

header.post {
  position: relative;
  height: auto; }

header > .title {
  margin: 60px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px; }

/* HERO
------------------------------------------*/
.hero_glyph {
  display: block;
  width: 80px;
  height: 104px;
  margin-bottom: 2px;
  background-image: url(../assets/icon_glyph.png);
  background-size: 100%; }

.hero_name {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase; }

ul.hero_contact {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  cursor: pointer; }
  ul.hero_contact a {
    color: #333; }
  ul.hero_contact a:hover {
    color: #772BFF; }
  ul.hero_contact li {
    display: inline-block;
    padding: 0px;
    line-height: 24px;
    margin-right: 8px; }

/*GRID
------------------------------------------*/
.hide_me {
  opacity: 0; }

.lazy {
  background-color: #fff;
  height: inherit; }

.grid_card_wrapper {
  float: left;
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 32px; }
  .grid_card_wrapper:hover .grid_card_headline, .grid_card_wrapper:hover .grid_card_co, .grid_card_wrapper:hover .grid_card_date {
    color: #772BFF; }
  .grid_card_wrapper:hover img {
    transform: scale(1.04, 1.04); }
  .grid_card_wrapper .grid_card_description {
    width: calc(60% - 16px); }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(60% - 16px); } }
    @media only screen and (min-width: 341px) and (max-width: 500px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(60% - 16px); } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(60% - 16px); } }
    @media only screen and (min-width: 961px) and (max-width: 1020px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(33% - 16px); } }
    @media only screen and (min-width: 1021px) and (max-width: 1020px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(33% - 16px); } }
    @media only screen and (min-width: 1021px) {
      .grid_card_wrapper .grid_card_description {
        width: calc(33% - 16px); } }
  .grid_card_wrapper .grid_card_headline {
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 700;
    color: #333;
    letter-spacing: 0px;
    margin-bottom: 16px; }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      .grid_card_wrapper .grid_card_headline {
        font-size: 16px; } }
    @media only screen and (min-width: 341px) and (max-width: 500px) {
      .grid_card_wrapper .grid_card_headline {
        font-size: 20px; } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      .grid_card_wrapper .grid_card_headline {
        font-size: 24px; } }
  .grid_card_wrapper .grid_card_co {
    font-size: 12px;
    color: #333;
    margin-bottom: 0px;
    text-transform: uppercase;
    line-height: 16px;
    font-weight: 800; }
    .grid_card_wrapper .grid_card_co:before {
      content: "";
      margin-bottom: 16px;
      display: block;
      width: 50px;
      height: 1px;
      background-color: #e9e9e9; }
      @media only screen and (min-width: 281px) and (max-width: 340px) {
        .grid_card_wrapper .grid_card_co:before {
          display: none; } }
      @media only screen and (min-width: 341px) and (max-width: 500px) {
        .grid_card_wrapper .grid_card_co:before {
          display: none; } }
      @media only screen and (min-width: 501px) and (max-width: 960px) {
        .grid_card_wrapper .grid_card_co:before {
          display: none; } }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      .grid_card_wrapper .grid_card_co {
        font-size: 10px;
        line-height: 10px; } }
    @media only screen and (min-width: 341px) and (max-width: 500px) {
      .grid_card_wrapper .grid_card_co {
        font-size: 10px;
        line-height: 10px; } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      .grid_card_wrapper .grid_card_co {
        font-size: 10px;
        line-height: 10px; } }
  .grid_card_wrapper .grid_card_date {
    font-size: 12px;
    color: #333;
    margin-bottom: 0px; }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      .grid_card_wrapper .grid_card_date {
        font-size: 10px; } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      .grid_card_wrapper .grid_card_date {
        font-size: 10px; } }
  .grid_card_wrapper figure {
    height: auto;
    transition: all 0.25s ease-in-out; }
  .grid_card_wrapper img {
    float: center;
    height: auto;
    width: 100%;
    padding: none;
    vertical-align: top; }
  .grid_card_wrapper a.link_block {
    display: inline-block;
    width: calc(66%);
    margin: 0 0 0 auto; }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      .grid_card_wrapper a.link_block {
        width: calc(33%); } }
    @media only screen and (min-width: 341px) and (max-width: 500px) {
      .grid_card_wrapper a.link_block {
        width: calc(33%); } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      .grid_card_wrapper a.link_block {
        width: calc(33%); } }

.video {
  width: 100%;
  height: 420px; }

/*MODAL
------------------------------------------*/
.modal_overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: block;
  transition: all 0.25s ease-in-out; }
  .modal_overlay.hidden {
    display: none; }
  .modal_overlay.visually-hidden {
    opacity: 0; }
    .modal_overlay.visually-hidden .modal_wrapper {
      opacity: 0;
      -ms-transform: translate(0px, 10px);
      /* IE 9 */
      -webkit-transform: translate(0px, 10px);
      /* Safari */
      transform: translate(0px, 10px); }

.modal_wrapper {
  box-sizing: border-box;
  width: 355px;
  margin: 100px auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out; }

.modal_message {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-bottom: 8px;
  font-weight: 700; }

.modal_note {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 32px; }

.modal_dismiss {
  text-align: center;
  margin: 0 auto;
  color: #772BFF;
  cursor: pointer; }

/*ARTICLE
------------------------------------------*/
article {
  padding: 0 10px; }
  article ol {
    list-style: decimal; }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 961px) and (max-width: 1020px) {
    article p {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 1021px) and (max-width: 1020px) {
    article p {
      margin: 0 120px 20px 120px; } }
  @media only screen and (min-width: 1021px) {
    article p {
      margin: 0 120px 20px 120px; } }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 961px) and (max-width: 1020px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 0 20px 0; } }
  @media only screen and (min-width: 1021px) and (max-width: 1020px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 120px 20px 120px; } }
  @media only screen and (min-width: 1021px) {
    article h1, article h2, article h3, article h4, article h5, article hr, article ul, article ol {
      margin: 30px 120px 20px 120px; } }
  article hr {
    border: 1px solid rgba(0, 0, 0, 0); }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      article hr {
        margin: 30px 0 30px 0; } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      article hr {
        margin: 30px 0 30px 0; } }
    @media only screen and (min-width: 961px) and (max-width: 1020px) {
      article hr {
        margin: 60px 0 60px 0; } }
    @media only screen and (min-width: 1021px) and (max-width: 1020px) {
      article hr {
        margin: 60px 0 60px 0; } }
    @media only screen and (min-width: 1021px) {
      article hr {
        margin: 60px 0 60px 0; } }
  article h4, article h5 {
    margin-top: 60px; }
  article ol {
    margin-bottom: 30px; }
  article li {
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: -10px; }

blockquote {
  color: #696969;
  font-style: italic; }
  blockquote p {
    padding-left: 20px;
    border-left: 1px solid #696969; }
    @media only screen and (min-width: 281px) and (max-width: 340px) {
      blockquote p {
        margin: 0 0 20px -20px; } }
    @media only screen and (min-width: 501px) and (max-width: 960px) {
      blockquote p {
        margin: 0 0 20px -20px; } }
    @media only screen and (min-width: 961px) and (max-width: 1020px) {
      blockquote p {
        margin: 0 0 20px -20px; } }
    @media only screen and (min-width: 1021px) and (max-width: 1020px) {
      blockquote p {
        margin: 0 100px 20px 100px; } }
    @media only screen and (min-width: 1021px) {
      blockquote p {
        margin: 0 100px 20px 100px; } }

figure {
  margin-bottom: 30px;
  overflow: hidden; }
  figure img {
    transition: all 0.25s ease-in-out;
    position: relative;
    width: 100%;
    margin: 0 0 0 0; }

@media only screen and (min-width: 281px) and (max-width: 340px) {
  .figure_small {
    margin: 0 0 20px 0; } }
@media only screen and (min-width: 501px) and (max-width: 960px) {
  .figure_small {
    margin: 0 0 20px 0; } }
@media only screen and (min-width: 961px) and (max-width: 1020px) {
  .figure_small {
    margin: 0 0 20px 0; } }
@media only screen and (min-width: 1021px) and (max-width: 1020px) {
  .figure_small {
    margin: 0 120px 20px 120px; } }
@media only screen and (min-width: 1021px) {
  .figure_small {
    margin: 0 120px 20px 120px; } }

.figure_photo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    .figure_photo {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .figure_photo {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 961px) and (max-width: 1020px) {
    .figure_photo {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 1021px) and (max-width: 1020px) {
    .figure_photo {
      margin: 0 0 120px 0; } }
  @media only screen and (min-width: 1021px) {
    .figure_photo {
      margin: 0 0 120px 0; } }

.figure_photo_half {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (min-width: 281px) and (max-width: 340px) {
    .figure_photo_half {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 501px) and (max-width: 960px) {
    .figure_photo_half {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 961px) and (max-width: 1020px) {
    .figure_photo_half {
      margin: 0 0 60px 0; } }
  @media only screen and (min-width: 1021px) and (max-width: 1020px) {
    .figure_photo_half {
      margin: 0 0 120px 0; } }
  @media only screen and (min-width: 1021px) {
    .figure_photo_half {
      margin: 0 0 120px 0; } }
  .figure_photo_half img {
    display: inline-block;
    width: calc(50% - 5px);
    margin-right: 10px;
    height: auto; }

/*# sourceMappingURL=main.css.map */
