/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; line-height: 30px;}
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	html, body {
		height:100%;
	}



/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font-family: $font_system;
		font-size: 16px;
		color: $color_text;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: $color_text;
	font-weight: 400;
	margin-bottom: 20px;
}

h1 			{ font-size: 30px; line-height: 1.5; }
h2 			{ font-size: 24px; line-height: 1.5; font-weight: $weight_bold; letter-spacing: $tracking_headline;}
h3 			{ font-size: 18px; line-height: 1.5; font-weight: $weight_bold; letter-spacing: $tracking_subhead;}
h4 			{ font-size: 16px; line-height: 1.5; }
h5 			{ font-size: 16px; line-height: 1.5; font-weight: bold;}
h6 			{ font-size: 16px; line-height: 1.5; }

p 			{ margin: 0 0 30px 0; font-weight: 400; line-height: 30px;}
em 			{ font-style: italic; }
strong 	{ font-weight: $weight_bold; }
hr 			{ border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 30px 0 30px; height: 0; }

code, pre {
	font-size: 14px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	color: #4197C8;
	background-color: #EEF3F6;
}

pre {
	padding: 20px;
  margin-bottom: 30px;

}

/* #Links
================================================== */
	a { color: $color_link; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: $color_link; }
