---
layout: default
title: Portfolio
---

<!-- Content
    ================================================== -->

<div class="modal_overlay hidden visually-hidden">
  <div class="modal_wrapper">
    <span class="modal_message">hi bots</span>
    <div class="modal_dismiss">Done</div>
  </div>
</div>

<header class="container hero">
  <div class="hero_wrapper">
    <div class="hero_glyph"></div>
    <div class="nav-trigger hero_identity">
      <div class="hero_name">Manas Vaze</div>
      <ul class="hero_contact">
        <li><a class="contact">Email</a></li>
        <li><a href="http://dribbble.com/manasvaze">Dribbble</li>
        <li><a href="http://twitter.com/manasvaze">Twitter</li>
      </ul>
    </div>

  </div>
</header>

<div class="container grid">
  {% for post in site.posts %}
    {% if post.categories contains 'published' %}
      <div class="grid_card_wrapper hide_me">
        <div class="grid_card_description">
          <a href="{{ post.url }}">
            <p class="grid_card_headline">{{ post.headline }}</p>
            <p class="grid_card_co">{{ post.co }}</p>
            <p class="grid_card_date">{{ post.date | date: "%Y" }}</p>
          </a>
        </div>
        <a class="link_block" href="{{ post.url }}">
        {{ post.content | split: '<!--more-->' | first }}
        <a/>
      </div>
    {% endif %}
  {% endfor %}
</div>
