<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Manas Vaze - {% if page.title %} {{ page.title }} {% endif %}</title>
<meta name="description" content="Manas Vaze - Portfolio">
<meta name="author" content="Manas Vaze, @manasvaze">
<meta name="keywords" content="manas, vaze, web standards, CSS, HTML, HTML5, markup, style, web design, ui, ux, bangalore, bengaluru, india">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="Hello robots and human. You found me you!">
<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/libs/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/libs/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>


<script src="/js/app.min.js" type="text/javascript" charset="utf-8"></script>

<div class="page-wrapper">

  <main class="content">
   {{content}}
  </main>


</div>

</body>
</html>
